h1 {
  color: rgb(164, 164, 164);
}

span {
  color: #5c6756;
}
.container_home {
  display: flex;
  flex-direction: column;
}
.title_home {
  text-align: center;
}
.home_img {
  align-self: center;
}
.home_img img {
  width: 674px;
}
